body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f5f5f5;
  color: black;
  font-family: sans-serif;
}

#root {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#container {
overflow: auto;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  margin-top: 5%;
  margin-bottom: 10px;
  width: 50%;
  position: relative;
  border-collapse: collapse;
  color: #f5f5f5;
  min-width: 460px;
}

tr, td {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 5px;
  height: 30px;
}

.dark_gray {
  background-color: #4b4b4b;
}

.light_gray {
  background-color: #5c5c5c;
}

#container::-webkit-scrollbar{
  background-color: rgba(255, 255, 255, 0);
}

#container::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 10px;
}

#container::-webkit-scrollbar-thumb:hover {
  background-color: #87aa5b;
}

.title {
  font-weight: bold;
  border-bottom: #87aa5b solid 5px;
  border-top: #87aa5b solid 5px;
  background-color: #4b4b4b;
}

.worker:hover {
  cursor: pointer;
}

input {
  margin: 5px;
  border-radius: 5px;
  border: solid 5px #87aa5b;
  outline: none;
}

button:hover{
  cursor: pointer;
}

button[type="submit"]{
  background-color: #a3a3a3;
  outline: none;
  border-radius: 5px;
  border: solid 2px #a3a3a3;
  font-weight: bold;
}

button[type="submit"]:hover{
  background-color: #87aa5b;
  border: solid 2px #87aa5b;
}

button:active{
  transform: translate(2px, 2px);
}

form {
  min-width: 790px;
}


#delete {
  border-radius: 5px;
  outline: none;
  border: none;
  position: absolute;
  font-weight: bold;
  /*float: left;*/
  left: 5px;
  background-color: #c6c6c6;
  color: #4b4b4b;
  opacity: 0.4;
}

#delete:hover {
  opacity: 1;
  color: #000000;
  background-color: #e03e56;
}
