body, #root, #container {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
}

#root, #container {
  position: relative;
}

#container {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  font-family: sans-serif;
}

#container::-webkit-scrollbar{
  background-color: rgba(255, 255, 255, 0);
}

#container::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 10px;
}

#container::-webkit-scrollbar-thumb:hover {
  background-color: #87aa5b;
}

button:hover{
  cursor: pointer;
}

button:active{
  transform: translate(2px, 2px);
}

/*Стили для элементов таблицы*/

table {
  margin-top: 10px;
  margin-bottom: 3%;
  width: 80%;
  position: relative;
  border-collapse: collapse;
  color: #f5f5f5;
  min-width: 585px;
}

tr, td {
  text-align: center;
  padding: 5px;
  height: 20px;
}

.dark_gray {
  background-color: #4b4b4b;
}

.light_gray {
  background-color: #5c5c5c;
}

.title {
  font-weight: bold;
  border-bottom: #87aa5b solid 5px;
  border-top: #87aa5b solid 5px;
  background-color: #4b4b4b;
  -webkit-user-select: none;
}

.worker:hover {
  cursor: pointer;
}

/*Стили для блока добавления сотрудников*/

input {
  margin: 5px;
  border-radius: 5px;
  border: solid 5px #87aa5b;
  outline: none;
  padding-left: 5px;
}

label {
  -webkit-user-select: none;
}

button[title="Добавить"]{
  background-color: #a3a3a3;
  outline: none;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 14pt;
}

button[title="Добавить"]:hover{
  background-color: #87aa5b;
}

form {
  min-width: 790px;
  margin-top: 3%;
  display: flex;
  align-items: center;
}

/*Стили для кнопки удаления сотрудников*/

button[title="Удалить"] {
  border-radius: 5px;
  outline: none;
  border: none;
  position: absolute;
  font-weight: bold;
  left: 5px;
  background-color: #c6c6c6;
  color: #4b4b4b;
  opacity: 0.4;
}

button[title="Удалить"]:hover {
  opacity: 1;
  color: #000000;
  background-color: #e03e56;
}
